# **Project Name** - Local Food Waste Management

#### **Project type** - Python, SQL, Streamlit, Data Analysis, Food Management
#### **Contribution** - Individual
#### **Name** - Ayush Singh

# **Project Summary**

The Local Food Wastage Management System project aims to address the critical issue of food wastage by creating an end-to-end digital solution that connects food providers, such as restaurants and stores, with receivers like NGOs and individuals in need. The system collects information about surplus food donations, their quantities, expiry dates, and locations, and stores this data efficiently in a structured SQL database. Through carefully designed CRUD operations, the database remains accurate and up-to-date, allowing real-time tracking of available, claimed, and expired food items. The project implements in-depth data analysis to identify wastage trends by category, location, and time, using both quantitative queries and graphical representations. These insights enable the generation of meaningful reports to guide effective food redistribution, ensuring that food nearing expiry is prioritized for distribution and that systemic wastage hotspots are identified. The application features an intuitive user interface—built in Streamlit for demonstration—that empowers users to filter inventory by city, food type, provider, and meal type, as well as access provider contact details for coordination. By bridging data collection, management, analysis, and communication in one integrated platform, the project advances the fight against food wastage and contributes directly to hunger mitigation and community welfare.

# **GitHub Link**

https://github.com/AyushSinghRana15/Local-Food-Waste-Management-System.git

# **Problem Statement**

Food wastage is a significant issue, with many households and restaurants discarding surplus food while numerous people struggle with food insecurity. This project aims to develop a Local Food Wastage Management System, where:

1.Restaurants and individuals can list surplus food.\
2.NGOs or individuals in need can claim the food.\
3.SQL stores available food details and locations.\
4.A Streamlit app enables interaction, filtering, CRUD operation and visualization.

# **Business Use Cases**

1.Connecting surplus food providers to those in need through a structured platform. \
2.Reducing food waste by redistributing excess food efficiently.\
3.Enhancing accessibility via geolocation features to locate food easily.\
4.Data analysis on food wastage trends for better decision-making.

# **Let's Begin**

In [2]:
#importing important libraries
# Data manipulation
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#reading dataset's
providers_df = pd.read_csv("providers_data.csv")
receivers_df = pd.read_csv("receivers_data.csv")
food_df = pd.read_csv("food_listings_data.csv")
claims_df = pd.read_csv("claims_data.csv")

In [4]:
#Number of rows and columns
print(f"Providers: {providers_df.shape}")
print(f"Receivers: {receivers_df.shape}")
print(f"Food Listings: {food_df.shape}")
print(f"Claims: {claims_df.shape}")

Providers: (1000, 6)
Receivers: (1000, 5)
Food Listings: (1000, 9)
Claims: (1000, 5)

In [5]:
#First 5 rows of each dataset
display(providers_df.head(), receivers_df.head(), food_df.head(), claims_df.head())

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577

   Receiver_ID          Name        Type               City           Contact
0            1  Donald Gomez     Shelter     Port Carlburgh     (955)922-5295
1            2  Laurie Ramos  Individual         Lewisburgh      761.042.1570
2            3  Ashley Mckee         NGO  South Randalltown  691-023-0094x856
3            4    Erika Rose         NGO   South Shaneville        8296491111
4            5   John Romero  Individual          Bakerport      067.491.0154

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner

   Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0         1      164          908    Pending    3/5/2025 5:26
1         2      353          391  Cancelled  3/11/2025 10:24
2         3      626          492  Completed   3/21/2025 0:59
3         4       61          933  Cancelled    3/4/2025 9:08
4         5      345          229    Pending  3/14/2025 15:17

In [6]:
#standardizing column names for further sql queries 
#splitting strings into substring , applying lowercase and replacing space with "_"
def clean_columns(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
    return df

providers_df = clean_columns(providers_df)
receivers_df = clean_columns(receivers_df)
food_df = clean_columns(food_df)
claims_df = clean_columns(claims_df)

In [7]:
from datetime import datetime
#Getting expiry food date
food_df['expiry'] = pd.to_datetime(food_df['expiry_date'], errors='coerce')
claims_df['claim_time'] = pd.to_datetime(claims_df['timestamp'], errors='coerce')

# Numeric conversions
food_df['quantity'] = pd.to_numeric(food_df['quantity'], errors='coerce')

In [8]:
#Getting the missing values in each dataset
print("Providers Missing Values:\n", providers_df.isnull().sum())
print("\nReceivers Missing Values:\n", receivers_df.isnull().sum())
print("\nFood Listings Missing Values:\n", food_df.isnull().sum())
print("\nClaims Missing Values:\n", claims_df.isnull().sum())

Providers Missing Values:
 provider_id    0
name           0
type           0
address        0
city           0
contact        0
dtype: int64

Receivers Missing Values:
 receiver_id    0
name           0
type           0
city           0
contact        0
dtype: int64

Food Listings Missing Values:
 food_id          0
food_name        0
quantity         0
expiry_date      0
provider_id      0
provider_type    0
location         0
food_type        0
meal_type        0
expiry           0
dtype: int64

Claims Missing Values:
 claim_id       0
food_id        0
receiver_id    0
status         0
timestamp      0
claim_time     0
dtype: int64

In [20]:
#We don't have any missing values in all the datasets

In [10]:
#Validating Relationships between tables
# Providers in food listings
invalid_providers = food_df[~food_df['provider_id'].isin(providers_df['provider_id'])]
print(f"Invalid provider references: {len(invalid_providers)}")

# Receivers in claims
invalid_receivers = claims_df[~claims_df['receiver_id'].isin(receivers_df['receiver_id'])]
print(f"Invalid receiver references: {len(invalid_receivers)}")

Invalid provider references: 0
Invalid receiver references: 0

In [11]:
print("Providers duplicates:", providers_df.duplicated().sum())
print("Receivers duplicates:", receivers_df.duplicated().sum())
print("Food Listings duplicates:", food_df.duplicated().sum())
print("Claims duplicates:", claims_df.duplicated().sum())

Providers duplicates: 0
Receivers duplicates: 0
Food Listings duplicates: 0
Claims duplicates: 0

In [12]:
#There are no duplicacy in the dataset

In [13]:
#Marking the food status as claimed or available
food_df['status'] = food_df['food_id'].apply(
    lambda x: 'Claimed' if x in claims_df['food_id'].values else 'Available'
)

In [14]:
#Printing absurd number of quantities in the dataset
print("Negative or zero quantities:", food_df[food_df['quantity'] <= 0].shape[0])
from datetime import datetime
print("Available but expired:", food_df[
    (food_df['status'] == 'Available') & (food_df['expiry'] < datetime.now())
].shape[0])

Negative or zero quantities: 0
Available but expired: 353

# Database integration

In [15]:
# We are using SQL Lite for local development

In [16]:
import sqlite3

# Creating or connecting to database
conn = sqlite3.connect("local_food_wastage.db")
cursor = conn.cursor()

# Creating tables with explicit schema
cursor.execute("""
CREATE TABLE IF NOT EXISTS Providers (
    provider_id INTEGER PRIMARY KEY,
    name TEXT,
    provider_type TEXT,
    location TEXT,
    contact TEXT
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Receivers (
    receiver_id INTEGER PRIMARY KEY,
    name TEXT,
    receiver_type TEXT,
    location TEXT,
    contact TEXT
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Food_Listings (
    food_id INTEGER PRIMARY KEY,
    food_name TEXT,
    quantity REAL,
    expiry DATE,
    provider_id INTEGER,
    provider_type TEXT,
    location TEXT,
    food_type TEXT,
    meal_type TEXT,
    status TEXT,
    FOREIGN KEY (provider_id) REFERENCES Providers(provider_id)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Claims (
    claim_id INTEGER PRIMARY KEY AUTOINCREMENT,
    food_id INTEGER,
    receiver_id INTEGER,
    claim_time DATE,
    FOREIGN KEY (food_id) REFERENCES Food_Listings(food_id),
    FOREIGN KEY (receiver_id) REFERENCES Receivers(receiver_id)
)
""")
conn.commit()

In [17]:
# Mark expired items
conn.execute("""
UPDATE Food_Listings
SET status = 'Expired'
WHERE date(expiry) < date('now') AND status = 'Available';
""")

conn.commit()

# Verify
print(pd.read_sql("SELECT DISTINCT status FROM Food_Listings", conn))

    status
0  Claimed
1  Expired

In [18]:
#Inserting initial Data

In [19]:
providers_df.to_sql("Providers", conn, if_exists="replace", index=False)
receivers_df.to_sql("Receivers", conn, if_exists="replace", index=False)
food_df.to_sql("Food_Listings", conn, if_exists="replace", index=False)
claims_df.to_sql("Claims", conn, if_exists="replace", index=False)

1000

In [20]:
#CRUD Operations (Create, Read, Update and Delete)

In [22]:
# CREATE
def add_food(food_name, quantity, expiry, provider_id, provider_type, location, food_type, meal_type, status="Available"):
    cursor.execute("""
        INSERT INTO Food_Listings
        (food_name, quantity, expiry, provider_id, provider_type, location, food_type, meal_type, status)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, (food_name, quantity, expiry, provider_id, provider_type, location, food_type, meal_type, status))
    conn.commit()

# READ
def get_available_food():
    return pd.read_sql("SELECT * FROM Food_Listings WHERE status='Available'", conn)

# UPDATE
def update_food_status(food_id, new_status):
    cursor.execute("UPDATE Food_Listings SET status=? WHERE food_id=?", (new_status, food_id))
    conn.commit()

# DELETE
def delete_food(food_id):
    cursor.execute("DELETE FROM Food_Listings WHERE food_id=?", (food_id,))
    conn.commit()

In [23]:
#We can use SQL query for wastage patterns

In [24]:
pd.read_sql("""
SELECT food_name, location, expiry
FROM Food_Listings
WHERE date(expiry) <= date('now', '+1 day') AND status='Available'
""", conn)

    food_name                  location               expiry
0        Soup                West James  2025-03-24 00:00:00
1      Fruits                 Kellytown  2025-03-16 00:00:00
2        Soup                Garciaport  2025-03-19 00:00:00
3        Rice  South Christopherborough  2025-03-28 00:00:00
4        Rice                  Markport  2025-03-20 00:00:00
..        ...                       ...                  ...
348     Dairy                East Aaron  2025-03-29 00:00:00
349      Soup      Port Daniellechester  2025-03-28 00:00:00
350     Salad                New Amanda  2025-03-29 00:00:00
351      Fish              Phillipsfort  2025-03-30 00:00:00
352     Salad               Charlesview  2025-03-19 00:00:00

[353 rows x 3 columns]

In [25]:
#1. Wastage by Location & Category
pd.read_sql(
    """
    SELECT 
    location,
    food_type,
    COUNT(*) AS total_expired_items,
    SUM(quantity) AS total_expired_quantity
FROM Food_Listings
WHERE status = 'Expired'
GROUP BY location, food_type
ORDER BY total_expired_quantity DESC;

    """,conn
)

Empty DataFrame
Columns: [location, food_type, total_expired_items, total_expired_quantity]
Index: []

In [26]:
# See how many items are in each status
print(pd.read_sql("SELECT status, COUNT(*) as count FROM Food_Listings GROUP BY status", conn))

# See some future expiry values
print(pd.read_sql("SELECT food_id, food_name, expiry, status FROM Food_Listings ORDER BY expiry DESC LIMIT 10", conn))

# See what SQLite thinks the current date is
print(pd.read_sql("SELECT date('now') as today;", conn))

      status  count
0  Available    353
1    Claimed    647
   food_id   food_name               expiry     status
0       14       Bread  2025-03-30 00:00:00  Available
1       19        Rice  2025-03-30 00:00:00    Claimed
2       24       Bread  2025-03-30 00:00:00  Available
3       34       Bread  2025-03-30 00:00:00    Claimed
4       86        Soup  2025-03-30 00:00:00    Claimed
5      103       Bread  2025-03-30 00:00:00  Available
6      121  Vegetables  2025-03-30 00:00:00  Available
7      127        Rice  2025-03-30 00:00:00  Available
8      147  Vegetables  2025-03-30 00:00:00  Available
9      154       Pasta  2025-03-30 00:00:00    Claimed
        today
0  2025-08-20

In [27]:
#2. Recently Wasted
pd.read_sql(
    """
    SELECT 
    food_name,
    location,
    expiry,
    quantity
FROM Food_Listings
WHERE status = 'Expired'
  AND date(expiry) BETWEEN date('now', '-30 days') AND date('now')
ORDER BY expiry DESC;

    """,conn
)

Empty DataFrame
Columns: [food_name, location, expiry, quantity]
Index: []

In [28]:
# There are no food in the database which is recently wasted

In [29]:
 # Near Expiry
pd.read_sql(
    """
    SELECT 
    food_name,
    quantity,
    expiry,
    location
FROM Food_Listings
WHERE status = 'Available'
  AND date(expiry) <= date('now', '+2 days')
ORDER BY expiry ASC;

    """,conn
)

    food_name  quantity               expiry            location
0      Fruits        15  2025-03-16 00:00:00           Kellytown
1        Rice        50  2025-03-16 00:00:00      North Michelle
2        Rice        30  2025-03-16 00:00:00     North Jamesberg
3      Fruits        13  2025-03-16 00:00:00     North Carolfurt
4       Pasta        40  2025-03-16 00:00:00  North Kennethshire
..        ...       ...                  ...                 ...
348     Dairy        30  2025-03-30 00:00:00        East Melissa
349   Chicken        32  2025-03-30 00:00:00         Martinville
350      Rice        44  2025-03-30 00:00:00      New Leslieport
351   Chicken        39  2025-03-30 00:00:00        Heathermouth
352      Fish        15  2025-03-30 00:00:00        Phillipsfort

[353 rows x 4 columns]

In [30]:
#There are no food in the database which are near date of expiry

In [31]:
#Monthly Expired Quantity Trend
pd.read_sql(
    """
    SELECT 
    strftime('%Y-%m', expiry) AS month, 
    COUNT(*) AS expired_items,
    SUM(quantity) AS expired_quantity
FROM Food_Listings
WHERE status = 'Expired'
GROUP BY month
ORDER BY month ASC;

    """,conn
)

Empty DataFrame
Columns: [month, expired_items, expired_quantity]
Index: []

In [32]:
#Top locations by expired quantity
pd.read_sql(
    """
    SELECT 
    location, 
    SUM(quantity) AS total_expired_quantity
FROM Food_Listings
WHERE status = 'Expired'
GROUP BY location
ORDER BY total_expired_quantity DESC
LIMIT 5;

    """,conn
)

Empty DataFrame
Columns: [location, total_expired_quantity]
Index: []

In [33]:
#Wastage by Provider
pd.read_sql(
    """
    SELECT 
    p.name AS provider_name, 
    SUM(f.quantity) AS expired_quantity
FROM Food_Listings f
JOIN Providers p ON f.provider_id = p.provider_id
WHERE f.status = 'Expired'
GROUP BY p.name
ORDER BY expired_quantity DESC;

    """,conn
)

Empty DataFrame
Columns: [provider_name, expired_quantity]
Index: []

In [35]:
#Claimed vs Expired Comparisation
pd.read_sql(
    """
    SELECT 
    status,
    COUNT(*) AS total_items,
    SUM(quantity) AS total_quantity
FROM Food_Listings
WHERE status IN ('Claimed', 'Expired')
GROUP BY status;

    """,conn
)

    status  total_items  total_quantity
0  Claimed          647           16634

# Conclusion

In conclusion, the Local Food Wastage Management System demonstrates a practical and impactful approach to reducing food wastage while improving the efficiency of food distribution to those in need. By harnessing structured data storage, robust analysis pipelines, and user-friendly interfaces, the system identifies key trends and enables real-time decisions for surplus food management. Its ability to monitor expired, claimed, and available food ensures a transparent supply chain and reveals potential areas for improvement and targeted interventions. This project not only enhances resource utilization but also fosters community collaboration between donors and receivers. Ultimately, the solution illustrates how technology and data-driven insights can address social challenges, offering a scalable template for combating food wastage and promoting sustainable, compassionate action in communities.